.home{
    width: 100%;
    height: 500px;
}

.home_section{
    height: 684px;
}

.section1{
    background-color: cornflowerblue;
}

.section2{
    background-color: chocolate;
}

.section3{
    background-color: rgb(146, 146, 146);
}

.section4{
    background-color: rgb(223, 130, 150);
}